html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
    font-size: 62.5%;

}

body {
    background-color: #F4F3F0;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 6rem;
    margin: 100px auto;
    max-width: 900px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 5rem;
}

h3 { 
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}

nav {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 2.0rem;
    display: flex;
    justify-content: space-between;

}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 1.7;
    width: 95%;

}

button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background: #B18F39;
    color: #F4F3F0;
    height: 50px;
    width: 200px;
    font-size: 2rem;
    font-weight: 600;
}

.border {
    border-bottom-color: #B18F39;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 10px;
    /* this is for the bottom borders of the H2's in each section */
}

.wrapper {
    width: 90%;
	max-width: 1600px;
	margin: 0 auto;
}

/* Nav */
nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    /* creating a flex box for the links in the nav */
}

nav li a {
    text-decoration: none;
    margin: 0 20px;
}

.mainMenu i {
    opacity: 0;
}
/* end of nav */

/* Header */
.headerTitle {
    text-align: center;

}

.headerImage {
    position: relative;

 }

.background {
     width: 100%;
     /* to adjust the background image in the header section */
 }

.badge {
    position: absolute;
    top: -75px;
    left: 46%;
    /* this is the best studio badge */
}
/* end of Header */

/* Our Practice */
.practiceFlex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;

}

.practiceContent {
    width: 50%;

}

.practiceContent p { 
    margin: 40px 0;

}

.practiceContent button {
    margin: 10px 0;
}

/*the container for the two image1 and image2 */
 .practiceImg { 
    width: 800px;
    height: 567px;
    position: relative;
    
}

.image1,
.image2 {
     width: 50%;
     height: 100%;
}

.image1 {
    position: absolute;
    z-index: 1;
    top: 150px;
    left: 100px;

}

.image2 {
    position: absolute;
    right: 0;
}
/* end of Our practice */

/* Spotlight */
.spotlight {
    margin-top: 300px;
    margin-bottom: 0;

}

/* first row of images. there are two in this row */
.imagesRow1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     
}

.image1A,
.image1B {
    position: relative;
    width: 785px;
    height: 500px;
    margin-top: 50px;

}

.image1A img,
.image1B img {
    width: 100%;
    height: 100%;
    
}

/* the location names of the images */
.image1A p,
.image1B p {
    position: absolute;
    bottom: 0;
    right: 0;

}

.image1A p,
.image1B p,
.image2A p,
.image2B p,
.image2C p {
    background: #F4F3F0 ;
    height: 45px;
    width: 200px;
    padding-top: 10px;
    text-align: center;

}

/* the second row of images. there will be three images */
.imagesRow2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.image2A,
.image2B,
.image2C {
    position: relative;
    margin-top: 30px;
    width: 512px;
    height: 500px;

}

.image2A img,
.image2B img,
.image2C img {
    width: 100%;
    height: 100%;

}

.image2A p,
.image2B p,
.image2C p {
    position: absolute;
    bottom: 0px;
    right: 0px;

}
/* end of spotlight */


/* Tell us about your ideas (Form) */
#ideas {
    margin-top: 100px;
    background-image: url(./image8.jpg);
    background-size: cover;
    height: 80vh;
    
}

.ideasContent {
    max-width: 600px;

}

.ideas h2 {
    display: inline-block;

}


.formIdeas {
    height: 50vh;
    margin-top: 50px;
}

.formIdeas label {
    font-size: 2rem;

}

.formIdeas input {
    width: 100%;
    height: 100%;
    border: 2px solid #B18F39;

}

.flexIdeas {
    display: flex;
    max-width: 620px;
}

.flexName {
    margin-right: 20px;

}

.flexName,
.flexEmail {
    width: 100%;
    height: 50px;

}

.formBox {
    max-width: 620px;
    height: 150px;
}

.formBox textarea {
    resize: none;
    width: 100%;
    height: 100%;
    border: 2px solid #B18F39;

}

.formBox {
    margin: 50px 0;

}
/* end of Tell us about your ideas */

/* words from our clients */
.clients {
    margin-top: 100px;

}

.clientBorder {
    border-left: thick #B18F39 solid;
    margin-top: 100px;

}

.clientBorder h3 {
    margin-left: 5%;
    max-width: 500px;
    line-height: 1.8;

}

.clientInfo {
    margin-left: 5%;

}

.clientPic {
    position: relative;
    width: 350px;

}

.clientPic img {
    border-radius: 50%;
    width: 175px;
}

.clientName {
    position: absolute;
    margin-left: 200px;
    width: 200px;
    right: -50px;
    top: 50px;
}

.clientIMG {
    margin-top: 100px;
    
}


.clientIMG img {
    width: 100%;

}
/* end of words from our clients */

/* the footer */
.titleUpper {
    text-transform: uppercase;

}

.footerFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}


.links {
    display: flex;
    width: 600px;
    height: 300px;
    
}

.links ul {
    padding-left: 0;
    
}

.links li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    list-style: none;
    margin: 15px 0;
    
}


.links div {
    margin: 0 25px;

}

.juno {
    font-size: 2rem;
    opacity: 0.2;
    
}
/* end of footer */

/* breakpoints */
@media (max-width: 1795px) {

    /* increases the margin of the Spotlight section */
    .spotlight {
        margin-top: 300px;
    }

    /* increases the margin of the images when flex wrap is activated in the Spotlight section */
    .practiceImg {
        margin-top: 100px;
    }

}

@media (max-width: 940px) {

    /* makes the paragraph look nicer in the Spotlight section */
    .practiceContent {
        width: 70%;
    
    }

    /* adjusts the footer links */
    .links {
        flex-direction: column;
        margin-top: 50px;

    }

    .links li {
        display: inline;
        margin-right: 15px;
    }

    .links div {
        margin: 0;
    }

    /* margin adjustment at the very bottom of the footer */
    .juno {
        margin-top: 150px;
    }
}

@media (max-width: 700px) {

    /* updating the nav to "hide" and slide out */
    .mainMenu i {
        margin-top: 10px;
        opacity: 1;
    }

    .subMenu {
        flex-direction: column;
        position: fixed;
        top: 50px;
        right: -100px;
        transition: 0.7s;

    }

    .mainMenu:hover .subMenu {
        right: 0;
    }

    nav li {
        margin-bottom: 12px;
    }
    /* end of nav adjustments */

    /* header adjustments */
    h1 {
        margin-top: 120px;
    }

    h1,
    h2 {
    font-size: 4rem;
    max-width: 670px;

    }

    /* adjust the paragraph in the Spotlight section */
    .practiceContent {
        width: 100%;
    
    }

    /* adjusting the form in Tell us your ideas */
    .flexIdeas {
        flex-direction: column;
    }

    .flexName {
        margin-bottom: 50px;
        margin-right: 0;
    
    }

}

@media (max-width: 520px) {
    /* sizing for most phones */
    h1,
    h2 {
    font-size: 3rem;
    max-width: 470px;

    }

    h3 {
        font-size: 2rem;
    }

    button {
        width: 100%;
    }

    /* start of the header section */
    .badge {
        left: 35%;

    }
    /* end of header section */

    /* start of the Our practice section */

    /* adjusting the images */
    .image1,
    .image2 {

        width: 60%;
        height: 70%;
    }

    .image1 {
        top: 150px;
        left: 0px;

    }
    /* end of the Our practice section */

    /* start of the Spotlight section */
    .spotlight {
        margin-top: 100px;
    
    }

    /* adjusting the first and seceond row images */
    .image1A,
    .image1B,
    .image2A,
    .image2B,
    .image2C {
    width: 100%;
    height: 350px;
    margin-top: 50px;

    }

    /* adjusting the paragraphs to now be below the images */
    .image1A p,
    .image1B p,
    .image2A p,
    .image2B p,
    .image2C p{
    position: static;
    margin: 0;
    padding: 0;
    background: white;
    text-align: left;
    width: 100%;
    height: 40px;

    }
    /* end of the Spotlight section */

    /* start of the Tell us your ideas section */

    #ideas {
        height: 850px;

    }

    .formBox {
        height: 200px;
    }
    /* end of the ideas section */

    /* start of the clients section */
    .clients {
        margin-top: 100px;

    }
    /* end of the clients section */

}


